/* Updated style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'sans-serif', 'Inter', 'JetBrains Mono Medium';
    background-color: #0E1117;
    color: #FAFAFA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stApp {
    background-color: #0E1117;
}

/* Header Styles */
.stApp > header {
    background-color: #0E1117;
    border-bottom: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #FAFAFA;
}

.stSubheader {
    font-size: 1.2rem;
    font-weight: 400;
    color: #FAFAFA;
}

button, input[type="submit"], input[type="button"] {
    background-color: #FF662E;
    color: white;
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #FF642B;
    transform: scale(1.05);
}

.stTextInput input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
}

.stTextInput input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 102, 46, 0.8);
}

.stDataFrame {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stButton button {
    transition: background-color 0.3s, transform 0.2s;
}

.stButton button:hover {
    background-color: #FF3B2F;
    transform: scale(1.05);
}

/* Add smooth animations to table rows on hover */
.stDataFrame table tr {
    transition: background-color 0.2s ease, transform 0.3s ease;
}

.stDataFrame table tr:hover {
    background-color: rgba(255, 102, 46, 0.1);
    transform: scale(1.01);
}

/* Animations for the loading spinner */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.stAlert {
    animation: fade-in 0.5s ease;
}

.stMarkdown {
    animation: fade-in 0.7s ease;
}

/* Add hover effects to dataframe column headers */
.ag-header-cell {
    color: #FF662E;
    font-weight: bold;
    transition: color 0.3s;
}

.ag-header-cell:hover {
    color: #FF3B2F;
}

/* Custom styles for the book icon */
.book-icon {
    font-size: 2.5rem;
    color: #FF662E;
    margin-right: 1rem;
}

/* Flexbox layout for the header */
.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
